<div class="min-h-screen flex items-center justify-center bg-gray-800">
  <div class="w-full max-w-sm px-4">
    <div class="bg-gray-950 rounded-2xl shadow-lg p-8 flex flex-col gap-8 items-center">

      <h1 class="text-3xl font-bold text-[#FAEBD7]">blablabla</h1>
      <p-fluid>
        <form (submit)="onSubmit($event)" class="flex flex-col gap-8 p-2">
          <p-float-label>
            <input [formField]="form.email" id="username" pInputText/>
            <label for="username">Usuário</label>
          </p-float-label>
          <p-float-label>
            <input [formField]="form.password" id="password" pInputText type="password"/>
            <label for="password">Senha</label>
            <!--            @if (form.password().touched() && form.password().invalid()) {-->
            <!--              <div class="w-fit">-->
            <!--                @for (error of form.password().errors(); track error) {-->
            <!--                  <p>{{ error.message }}</p>-->
            <!--                }-->
            <!--              </div>-->
            <!--            }-->
          </p-float-label>

          <p-button [disabled]="form().invalid()" label="Entrar" type="submit"></p-button>
        </form>
      </p-fluid>

    </div>
  </div>
</div>
