<header class="h-14 px-4 flex items-center justify-between border-b border-surface-200 bg-surface-200 shadow-sm">
  <div class="flex items-center gap-2">
    @if (layoutService.isMobile()) {
      <p-button
        (onClick)="layoutService.toggleSidebar(true)"
        [rounded]="true"
        [text]="true"
        icon="pi pi-bars"
        severity="secondary"
        size="small"
      />
    }
  </div>

  <div class="text-surface-700 font-semibold text-sm">{{ layoutService.pageTitle() }}</div>

  <p-button
    (onClick)="themeService.toggle()"
    [icon]="themeService.dark() ? 'pi pi-sun' : 'pi pi-moon'"
    [pTooltip]="themeService.dark() ? 'Modo claro' : 'Modo escuro'"
    [rounded]="true"
    [text]="true"
    severity="secondary"
    size="small"
    tooltipPosition="left"
  />
</header>
