<div class="flex h-screen bg-surface-100">

  <aside class="w-64 flex flex-col bg-surface-0  ">

    <div class="px-6 py-5  ">
      <span class="text-xl font-bold text-primary-700">blablabla</span>
    </div>

    <!--    mudar para primeng e toggle-->
    <nav class="flex-1 px-3 py-4 flex flex-col gap-1">
      @for (item of navItems; track item.route) {
        <a
          [routerLink]="item.route"
          routerLinkActive="bg-primary-100 text-primary-700  dark:bg-primary-950 font-medium"
          class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-surface-700
                 hover:bg-surface-100 transition-colors cursor-pointer"
        >
          <i [class]="item.icon + ' text-base'"></i>
          <span class="text-sm">{{ item.label }}</span>
        </a>
      }
    </nav>

    <div class="px-4 py-4 border-t border-surface-200">
      @if (user(); as u) {
        <div class="flex items-center gap-3">
          <p-avatar
            [label]="userInitials(u)"
            shape="circle"
            class="shrink-0 bg-primary-200 text-primary-800 font-semibold text-sm"
          />
          <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-surface-900 truncate">{{ u.name }}</p>
            <p class="text-xs text-surface-500 truncate">&#64;{{ u.username }}</p>
          </div>
          <!--          corrigir cor do icone e botao -->
          <p-button
            icon="pi pi-sign-out"
            [rounded]="true"
            [text]="true"
            class="text-black"
            size="small"
            pTooltip="Sair"
            tooltipPosition="top"
            (onClick)="logout()"
          />
        </div>
      } @else {
        <div class="flex items-center gap-3">
          <p-skeleton shape="circle" size="2.5rem" class="shrink-0" />
          <div class="flex-1 flex flex-col gap-1.5">
            <p-skeleton height="0.875rem" />
            <p-skeleton height="0.75rem" width="70%" />
          </div>
        </div>
      }
    </div>

  </aside>

  <div class="flex-1 flex flex-col min-w-0 overflow-auto">

    <header class="h-16 px-6 flex items-center justify-between border-b border-surface-200 bg-surface-0">
      @if (user(); as u) {
        <p class="text-surface-500 text-sm">Bem-vindo de volta, <span
          class="font-medium text-surface-800">{{ u.name }}</span></p>
      } @else {
        <p-skeleton height="1rem" width="12rem" />
      }

      <p-button
        (onClick)="themeService.toggle()"
        [icon]="themeService.dark() ? 'pi pi-sun' : 'pi pi-moon'"
        [pTooltip]="themeService.dark() ? 'Modo claro' : 'Modo escuro'"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        size="small"
        tooltipPosition="left"
      />
    </header>

    <main class="flex-1 p-6">
      <router-outlet />
    </main>

  </div>

</div>
