@import "tailwindcss";
@import "tailwindcss-primeui";
@layer tailwind-base, primeng, tailwind-utilities;

body {
  font-family: 'DM Sans', sans-serif;
}


/* Só mostra estado inválido do PrimeNG após o campo ser tocado */
@layer primeng {
  .p-inputtext.p-invalid:not(.sf-touched) {
    border-color: var(--p-inputtext-border-color);
  }

  .p-inputtext.p-invalid:not(.sf-touched)::placeholder {
    color: var(--p-inputtext-placeholder-color);
  }
}
